import { Controller, 
        {{#importedMethods}}{{importedMethod}},{{/importedMethods}}, 
        {{#isBodyUsed}}Body{{/isBodyUsed}}, 
        {{#isParamsUsed}}Param{{/isParamsUsed}}, 
        {{#isQueriesUsed}}Query{{/isQueriesUsed}}, 
        UseGuards } from '@nestjs/common';

@UseGuards({{#guards}}{{guard}},{{/guards}})
@UseInterceptors({{#interceptors}}{{interceptor}},{{/interceptors}})
@Controller('{{controllerName}}')
export class {{controllerName}}Controller {
  constructor() {}
  
  {{#routes}}
  @{{method}}('{{path}}')
  async {{handlerName}}(
    {{#pathParams}}
    @Param('{{pathParam}}') {{pathParam}}: string,
    {{/pathParams}}
    {{#bodyParam}}
    @Body() {{bodyParam}}: {{bodyType}},
    {{/bodyParam}}
    {{#queryParams}}
    @Query('{{queryParam}}') {{queryParam}}: string
    {{/queryParams}}
  ): Promise<any> {
    // Your logic
  }
  {{/routes}}
}
