export interface {{interfaceName}} {
  // Define your properties here
}

////
openapi-generator-cli generate -i hbs.yaml -g typescript-nestjs  --global-property models   -o .\out\nest-js-template\models.hbs

 
